In [1]:
#imported libaries
import os
import numpy as np
import pandas as  pd
import matplotlib as plt
%matplotlib inline

<h1>The dataset has five columns with date, open, high, low, close and volums rows</h1>

In [2]:
import pandas as pd
dataset_train = pd.read_csv("./Google_Stock_Price_Train.csv")
dataset_train.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

<h1>Check for null values</h1>

In [3]:
dataset_train.isnull()

       Date   Open   High    Low  Close  Volume
0     False  False  False  False  False   False
1     False  False  False  False  False   False
2     False  False  False  False  False   False
3     False  False  False  False  False   False
4     False  False  False  False  False   False
...     ...    ...    ...    ...    ...     ...
1253  False  False  False  False  False   False
1254  False  False  False  False  False   False
1255  False  False  False  False  False   False
1256  False  False  False  False  False   False
1257  False  False  False  False  False   False

[1258 rows x 6 columns]

<h1>The data type is object and float64 </h1>

In [4]:
dataset_train.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close      object
Volume     object
dtype: object

<h1>Google stock colums to train the model</h1>

In [5]:
training_colums = dataset_train.iloc[:,1:2].values
print(training_colums)
print(training_colums.shape)

[[325.25]
 [331.27]
 [329.83]
 ...
 [793.7 ]
 [783.33]
 [782.75]]
(1258, 1)

<h1>Data normalization</h1>

In [6]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range = (0,1))
scaler = MinMaxScaler(feature_range=(0,1))
scaled_training_colums = scaler.fit_transform(training_colums)
scaled_training_colums

array([[0.08581368],
       [0.09701243],
       [0.09433366],
       ...,
       [0.95725128],
       [0.93796041],
       [0.93688146]])